*   {
    border: dotted 1px;
}

body {
    background-color: lightblue;
    margin: 0;
}

header {
    margin: 0;
    padding-left: 27%;

    height: 100px;
    width: auto;
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(128, 235, 203), rgb(99, 154, 226));
}

h1 {
    float: left;
    padding-right: 100px;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(192, 145, 84), rgb(100, 9, 47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    padding: 0;
    border: 1px rgb(73, 5, 62) dotted;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    font-size: 40px;
    background: -webkit-linear-gradient(rgb(103, 189, 174), rgb(92, 59, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    display: flex;
    justify-content: center;
    padding-left: 10%;

}

/* Three columns side by side */

.column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


/* Add some shadows to create a card effect */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Some left and right padding inside the container */

.container {
    padding: 0 16px;
}


/* Clear floats */

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

button {
    box-shadow: 3px 4px 0px 0px #1564AD;
    background:linear-gradient(to bottom, #79BBFF 5%, #378DE5 100%);
    background-color:#79bbff;
    border-radius:5px;
    border:1px solid #337BC4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:12px 44px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ECC;
    &:hover {
    background:linear-gradient(to bottom, #378DE5 5%, #79BBFF 100%);
    background-color:#378de5;
}

.button:hover {
    background-color: #555;
}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 90px;
    background: -webkit-linear-gradient( rgb(99, 154, 226), rgb(128, 235, 203));
    -webkit-text-fill-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer>div {
    margin-top: 20px;
    font-size: 40px;
    background: -webkit-linear-gradient(rgb(160, 114, 15), rgb(148, 26, 77));
    -webkit-background-clip: text;
    text-align: center;
}